@font-face {
    font-family: calculator;
    src: url(calculator/Calculator.ttf);
}
@font-face {
    font-family: minsanz;
    src: url(Fonts/MintSansRegular.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d2925;
}

.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d2925;
}

.Body-Calculadora{
    background-color: #f3efef1f;
    margin: 40px;
    width: 250px;
    min-width: 250px;
    height: 290px;
    padding: 30px;
    border-radius: 10px;
    border-color: 0px solid #395855;

}

#Resultado{
    background-color: #1f2f2d;
    width: 100%;
    height: 30px;
    border: 1px solid #1f2f2d;
    border-radius: 2px;
    font-family: calculator;
    color: #96efb4;
    font-size: 15px;
    transition: .2s;
}

#Resultado:hover{
    border: 5px double #638985 ;
}

.s-button{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: #1f1d1d;
    color: #96efc7;
    border: .1px solid #0e0e0e00;
    transition: .1s;
}

.Num-Cont, .Num-Cont-2{
    height: 30px;
    box-sizing: content-box;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 15%;

}

.s-button-2{
    background-color: #1f1f1f;
    color: #96efb4;
    border-radius: 15px;
    width: 66px;
    height: 29px;
    border: 2px solid #1f1f1f;
    transition: .4s;
}

.s-button:hover{
    margin: 0;
    text-shadow: 0 0 10px #00ff73, 0 0 20px #ff8000;
    height: 30.2px;
    width: 30.2px;
}

.s-button-2:hover{
    height: 29.4px;
    width: 67px;
    text-shadow: 0 0 10px #00ff73, 0 0 25px #96efb4;
}

#Resultado:active{
    border: 0px solid #2c322f;
}
/*Menu-----------------------------------------------------------------------------------------------------*/
.div-1{
    background-color: #1f2f2d;
    font-family: minsanz;
}

.menu__logo{
    margin-left: 5px;
    margin-right: 10px;
    transition: .9s;
}

.menu__logo:hover, #menu__logo__creator:hover{
    color: rgb(189, 245, 219);
}
/*
#menu__logo__creator{
    font-size: 9px;
    color: #fff;
    transition: .9s;
}
*/
.menu{
    background-color: #2d4240;
    color: #fff;

}

.menu__container{
    display: flex;  
    align-items: center;
    width: 90%;
    max-width:400px;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
    justify-content: space-between;

}
.menu__links{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 40px;
}

.menu__link{
    height: 40px;
    transition: transform .5s;
    display: flex;
    padding: 0 20px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu__link:hover{
    background-color: #ffffff3a;
    transition: background-color .2s;
    border-radius: 2px;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(0) ;
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(90deg)
}

.menu__nesting{
    clip-path:  var(--clip);
    list-style: none;
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #2d4240;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    image-rendering: optimizeSpeed;
}

.menu__hamburger{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
    }

.menu__img{
    display: block;
    width: 60px;
}

/*------------------------------------ventanas flotantes------------------------------------*/
